body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #fcf2e3;
}

.title {
    text-align: center;
    border-bottom-color: rgb(161, 148, 125);
    border-style: none none solid none;
    border-width: 5px;
    
}

.recipe-list {
    margin: auto;
    width: auto;
    justify-content: center;
}

.recipe-item {
    display: inline-block;
    margin: 70px;
    width: 200px;
    height: 100px;
}